<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.asdi.rsc.AsdiResource"
            name="ASDI"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.asdi.AsdiRecord"
            renderingOrderId="PLOT"
            resourceType="PLAN_VIEW">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
       <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.asdi.rsc.AsdiResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.asdi.rsc.EditAsdiAttrsDialog"
            name="ASDI">
      </nc-resource>
   </extension> 
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">        
      
         
      <nc-resourceParameter
            paramClass="ColorBar"
            paramName="colorBarHeight"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/ASDI"
            ncResourceName="ASDI">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="ColorBar"
            paramName="colorBarTime"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/ASDI"
            ncResourceName="ASDI">
      </nc-resourceParameter>         
           
      <nc-resourceParameter
            paramClass="Boolean"
            paramName="allAirports"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ASDI">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="departArrive"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ASDI">
       </nc-resourceParameter> 
 
      <nc-resourceParameter
            paramClass="java.lang.Integer"
            paramName="timeLimitValue"
            defaultValue="12"
            paramType="EDITABLE_ATTRIBUTE"
             ncResourceName="ASDI">
       </nc-resourceParameter>         
 
      <nc-resourceParameter
            ncResourceName="ASDI"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {255, 255, 255}"               
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            ncResourceName="ASDI"
            paramClass="String"
            paramName="reportType"
            defaultValue="ASDI"               
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      
      </extension>   
</plugin>
   
