<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.viirs.rsc.ViirsResource"
            name="ViirsSatellite"
            recordClass="com.raytheon.uf.common.dataplugin.npp.viirs.VIIRSDataRecord"
            renderingOrderId="IMAGE_COUNTRY">
      </resource>
   </extension>
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.viirs.rsc.ViirsResourceData"
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.viirs.rsc.EditViirsAttrsDialog"
            name="ViirsSatellite">
      </nc-resource>
   </extension>
   
      <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      <nc-resourceParameter
            paramClass="gov.noaa.nws.ncep.viz.ui.display.ColorBarFromColormap"
            paramName="colorBar"
            paramType="EDITABLE_ATTRIBUTE"
            paramRefLocation="ncep/ColorBars/Satellite"
            ncResourceName="ViirsSatellite">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="String"
            paramName="colorMapName"
            paramType="EDITABLE_ATTRIBUTE"
            ncResourceName="ViirsSatellite">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="Float"
            paramName="alpha"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="ViirsSatellite">
      </nc-resourceParameter>
      
      <nc-resourceParameter
            paramClass="Float"
            paramName="brightness"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="ViirsSatellite">
      </nc-resourceParameter>      
            
      <nc-resourceParameter
            paramClass="Float"
            paramName="contrast"
            paramType="EDITABLE_ATTRIBUTE"
            defaultValue="1.0"
            ncResourceName="ViirsSatellite">
      </nc-resourceParameter>      
      
      <nc-resourceParameter
            ncResourceName="ViirsSatellite"
            paramClass="Float"
            paramName="wavelength"
            defaultValue="0.0"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>

      <nc-resourceParameter
            ncResourceName="ViirsSatellite"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {155, 155, 155}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>     
      
      <nc-resourceParameter
            ncResourceName="ViirsSatellite"
            paramClass="String"
            paramName="displayUnitStr"
            defaultValue="BRIT"
            paramType="NON_EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>          
      
      <nc-resourceParameter
            ncResourceName="ViirsSatellite"
            paramClass="integer"
            paramName="resolution"
            defaultValue="VIIRS"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
   </extension>

   <extension
      point="com.raytheon.viz.ui.contextualMenu">
      <contextualMenu
            actionClass="gov.noaa.nws.ncep.viz.resources.misc.EnableDisableSamplingAction"
            capabilityInterface="gov.noaa.nws.ncep.viz.rsc.viirs.rsc.ViirsResource"
            name="Sample"
            sortID="14">
      </contextualMenu>
   </extension> 

</plugin>
