<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
          id="gov.noaa.nws.ncep.viz.actions.resourceManager"
          name="Resource Manager">
         <commandParameter
               id="mode"
               name="mode"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="gov.noaa.nws.ncep.viz.ui.newResource"
            name="New Resource">
      </command>
   </extension>
   
      <extension
         point="org.eclipse.ui.handlers">
       <handler
            class="gov.noaa.nws.ncep.viz.resourceManager.ui.ResourceManagerAction"
            commandId="gov.noaa.nws.ncep.viz.actions.resourceManager">
       </handler>   
      <handler
            class="gov.noaa.nws.ncep.viz.resourceManager.ui.newResource.NewResourceAction"
            commandId="gov.noaa.nws.ncep.viz.ui.newResource">
      </handler>
   </extension>

    <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Bundle Groups"
             recursive="true"
             value="ncep/SPFs"
	         extensionFilter=".xml">
       </path>
    </extension>

    <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Resource Definitions"
             recursive="true"
             value="ncep/ResourceDefns"
	         extensionFilter=".xml,.attr">
       </path>
    </extension>
    
    <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Local Radar Stations"
             recursive="false"
             value="ncep/localRadarStations"
             extensionFilter=".xml">
       </path>
    </extension>
    
   <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Attribute Set Groups"
             recursive="true"
             value="ncep/AttributeSetGroups"
	         extensionFilter=".xml,.attr">
       </path>
    </extension>
    <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Default Bundles"
             recursive="true"
             value="ncep/DefaultRBDs"
	         extensionFilter=".xml">
       </path>
    </extension>
    
        <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Satellite Areas"
             recursive="false"
             value="ncep/satelliteAreas"
             extensionFilter=".xml">
       </path>
    </extension>
    
    
            <extension
          point="com.raytheon.uf.viz.localization.perspective.localizationpath">
       <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="Satellite Image Types"
             recursive="false"
             value="ncep/satelliteImageTypes"
             extensionFilter=".xml">
       </path>
    </extension>
    

</plugin>
