<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-Resource">
      <nc-resource
            class="gov.noaa.nws.ncep.viz.rsc.ghcd.rsc.GhcdResourceData"   
            editDialogClass="gov.noaa.nws.ncep.viz.rsc.ghcd.rsc.EditGhcdAttrsDialog"      
            name="GHCD">
      </nc-resource>
   </extension>
   <extension
         point="com.raytheon.uf.viz.core.resource">
      <resource
            class="gov.noaa.nws.ncep.viz.rsc.ghcd.rsc.GhcdResource"
            recordClass="gov.noaa.nws.ncep.common.dataplugin.ghcd.GenericHighCadenceDataRecord"
            name="GhcdResource"
            renderingOrderId="CONTOUR" 
            resourceType="PLAN_VIEW"/>      
   </extension>
   
   <extension
         point="gov.noaa.nws.ncep.viz.resources.NC-ResourceParameter">
      
      <!-- since this is given in the attribute sets it must have a default 
           value given so that the code can 'validate' a rsc defn up front (ie w/o an attr set)-->
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="pluginName"
            defaultValue=""
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="reportType"
            defaultValue=""
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>   
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="typeInfo.source"
            defaultValue=""
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="typeInfo.instrument"
            defaultValue=""
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="typeInfo.datatype"
            defaultValue="not-specified"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="dataResolUnits"
            defaultValue=""
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Integer"
            paramName="dataResolVal"
            defaultValue="1"
            paramType="REQUEST_CONSTRAINT">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yData"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yScaleType"
            defaultValue="Linear"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Float"
            paramName="yScaleMin"
            defaultValue="0.0"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Float"
            paramName="yScaleMax"
            defaultValue="0.0"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Float"
            paramName="yInterval"
            defaultValue="0.0"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Integer"
            paramName="yNumTicks"
            defaultValue="0"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="RGB"
            paramName="dataColor"
            defaultValue="RGB {255, 255, 255}"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="xTitle"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
       <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yTitle"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>      
       <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yTitlePosition"
            defaultValue="Left"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>  
       <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yUnits"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>      
       <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="yUnitsPosition"
            defaultValue="Left"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>          
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="gov.noaa.nws.ncep.viz.common.tsScaleMngr.XAxisScale"
            paramName="xAxisScale"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>        
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="LineStyle"
            paramName="lineStyle"
            defaultValue="SOLID"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>        
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Integer"
            paramName="lineWidth"
            defaultValue="1"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="graphKey"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="graphTopTitle"
            defaultValue=""
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Boolean"
            paramName="displayXLabels"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="unitsFont"
            defaultValue="Times"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>  
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="unitsFontSize"
            defaultValue="12"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>  
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="unitsStyle"
            defaultValue="BOLD"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter> 
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="titleFont"
            defaultValue="Times"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>  
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="titleFontSize"
            defaultValue="14"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>  
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="String"
            paramName="titleStyle"
            defaultValue="BOLD"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>   
       <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="Boolean"
            paramName="displayLastDataDate"
            defaultValue="true"
            paramType="EDITABLE_ATTRIBUTE">
      </nc-resourceParameter>           
      <nc-resourceParameter
            ncResourceName="GHCD"
            paramClass="RGB"
            paramName="legendColor"
            defaultValue="RGB {200, 200, 200}"
            paramType="IMPLEMENTATION_PARAM">
      </nc-resourceParameter>
   </extension>
   
    <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
       <path
             application="NCEP"
             localizationType="COMMON_STATIC"
             name="GenericHighCadence"
             recursive="false"
             value="ncep/ghcd"
             extensionFilter=".xsd,.xml">
       </path>
    </extension>
    
     <extension
          point="com.raytheon.uf.viz.localization.localizationpath">
        <path
             application="NCEP"
             localizationType="CAVE_STATIC"
             name="TimeSeries"
             recursive="true"
             value="ncep/TimeSeries"
             extensionFilter=".xml,.txt">
       </path>
    </extension>
    
</plugin>
